.ui-flex, .ui-flex-column {
  display: flex;
}

.ui-flex-column {
  flex-direction: column;
}

.jcstart {
  justify-content: flex-start;
}

.jcend {
  justify-content: flex-end;
}

.jccenter {
  justify-content: center;
}

.jcbetween {
  justify-content: space-between;
}

.aistart {
  align-items: flex-start;
}

.aiend {
  align-items: flex-end;
}

.aicenter {
  align-items: center;
}
