.ui-button {
  display: inline-flex;

  font: inherit;

  appearance: none;
  box-shadow: none;
  outline: none;

  vertical-align: middle;
  user-select: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}
