.ui-button {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  font: inherit;

  appearance: none;
  box-shadow: none;
  outline: none;

  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
